/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
    color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.background-video {
	position:fixed;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-1;
}
.dark {
	position:fixed;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
}
.main {
    position: relative;
    z-index: 2;
}

.modal-bottom {
	margin-top: 300px;
}

#page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 400%;
}

#page-top a {
    display: block;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
}

#page-top a:hover {
    text-decoration: none;
}

.stat {
    color: #fff;
	text-decoration: none !important;
}

.stat a{
	text-decoration: none!important;
}

.stat a:hovar {
    color: #fff;
	text-decoration: none!important;
}
